<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Entry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <form action="/web/new" method="post">
        <label for="name-input">Name:</label>
        <input name="name" id="name-input"/>
        <label for="description-input">Description:</label>
        <input name="description" id="description-input"/>

        <button type="submit">Confirm</button>
    </form>
</body>
</html>