<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Search results</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h1>Search results</h1>
        <p th:text="|We found ${results.size} results:|"/>
        <ul>
            <li th:each="result: ${results}">
                <p th:text="|Name: ${result.name} Description: ${result.description}|"></p>
            </li>
        </ul>
    </body>
</html>